@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Telugu:wght@100..900&family=Quicksand:wght@300..700&display=swap');
html {
    box-sizing:border-box;
    height: 100%;
}
*, *::before, *::after {
    box-sizing:inherit;
    margin:0;
}
body {
    margin: auto;
    font-family:"Nunito Sans",sans-serif;
    text-align: center;
    height: 100vh;
    width: 100%;
    background-color:hsla(23,100%,63%,1);
    background-image:
    radial-gradient(at 0% 0%, hsla(39,100%,66%,1) 0px, transparent 50%),
    radial-gradient(at 22% 0%, hsla(56,100%,56%,0.5) 0px, transparent 50%),
    radial-gradient(at 0% 68%, hsla(56,100%,56%,0.5) 0px, transparent 50%),
    radial-gradient(at 86% 43%, hsla(18,100%,63%,0.5) 0px, transparent 50%),
    radial-gradient(at 100% 97%, hsla(18,100%,63%,0.5) 0px, transparent 50%),
    radial-gradient(at 100% 0%, hsla(18,100%,63%,0.5) 0px, transparent 50%),
    radial-gradient(at 34% 99%, hsla(18,100%,63%,0.5) 0px, transparent 50%);
    background-repeat: no-repeat;
    position: relative;
}
.color__box_container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 550px;
    transform: translate(-50%,-50%);
}
.color__box {
    background-color: #1C1C1C;
    width: 450px;
    height: 450px;
    user-select: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(50px, auto);
    align-items: center;
    justify-items: center;
    border-radius: 5px;
    border: 8px #1C1C1C solid;
    margin: 0 auto;
}
.color {
    width: 130px;
    height: 130px;
    border-radius: 5px;
    transition: 0.2s;
}
.color:hover {
    cursor: pointer;
    filter: brightness(0.8);
}
.block {
    width: 130px;
    height: 130px;
}
.timerSlot {
    background-color: #ECECEC;
    border-color: unset;
    position: relative;
    border-radius: 5px;
    z-index: 1;
}
.blue {
    background-color: #0C89FF;
}
.red {
    background-color: #FF1616;
}
.green {
    background-color: #75FF00;
}
.yellow {
    background-color: #FFD000;
}
.purple {
    background-color: #7F00FF;
}
.pink {
    background-color: #FF31DB;
}
.orange {
    background-color: #FF6200;
}
.turquoise {
    background-color: #0FD;
}
#color__board {
    margin: auto;
    justify-content: space-between;
    padding: 0 24px;
    margin: 0 auto 1rem auto;
    background-color: #1C1C1C;
    border-radius: 5px;
    width: 550px;
    display: block;
}
.colorText {
    font: 50px "Quicksand", sans-serif;
    padding: 10px 0;
    display: none;
}
#time {
    font: 60px "Quicksand", sans-serif;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#title {
    font-family: "Quicksand", sans-serif;
    font-size: 25px;
    font-weight: 600;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
}
#title img {
    display: flex;
    height: 180px;
}
#points {
    font-family: "Quicksand", sans-serif;
    font-size: 50px;
    position: absolute;
    bottom: -65px;
    left: 50%;
    transform: translate(-50%, 0);
    color: white;
}
#start, #stop, #restart {
    font-size: 35px;
    line-height: 35px;
    font-weight: 500;
    border: none;
    display: block;
    color: white;
}
#start {
    font-family: "Quicksand", sans-serif;
    background-color: #229922;
    padding: 24px 30px;
    border-radius: 5px;
    margin: 0 auto 1rem auto;
}
#start:hover {
    background-color: #166E16;
    cursor: pointer;
}
#stop {
    font-family: "Quicksand", sans-serif;
    background-color: #C02222;
    padding: 10px 19px;
    border-radius: 50%;
    display: none;
    position: fixed;
    top: 20px;
    right: 20px;
}
#stop:hover {
    background-color: #9C1B1B;
    cursor: pointer;
}
#restart {
    font-family: "Quicksand", sans-serif;
    background-color: #C02222;
    padding: 10px 19px;
    border-radius: 50%;
}
#restart:hover {
    background-color: #9C1B1B;
    cursor: pointer;
}
#counted__score_container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: 1;
}
.counted__score_block {
    background-color: #ECECEC;
    border-radius: 5px;
    padding: 20px;
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.counted__score_type {
    padding: 20px 0;
    margin: 0 auto;
}
.counted__score_block p {
    font-size: 20px;
}

@media only screen and (max-width: 900px){
    .color__box_container {
        width: 400px;
    }
    .color__box {
        width: 400px;
        height: 400px;
    }
    .color {
        width: 115px;
        height: 115px;
    }
    .block {
        width: 115px;
        height: 115px;
    }
    #title img {
        height: 160px;
    }
    #title {
        font-size: 12pt;
    }
    #time, .colorText, #points {
        font-size: 40px; 
    }
    #color__board {
        width: 400px;
    }
    .colorText {
        padding: 12.5px 0;
    }
    #start, #stop, #restart {
        font-size: 25px;
    }
    #start {
        padding: 20px 30px;
    }
    #stop, #restart {
        padding: 3px 15px;
    }
    .counted__score_block {
        width: 450px;
    }
    .counted__score_block p {
        font-size: 18px;
    }
}
@media only screen and (max-width: 600px){
    .color__box_container {
        width: unset;
    }
    .color__box {
        width: 300px;
        height: 300px;
        border: 6px #1C1C1C solid;
    }
    .color {
        width: 85px;
        height: 85px;
    }
    .block {
        width: 85px;
        height: 85px;
    }
    #title img {
        height: 120px;
    }
    #title {
        font-size: 10pt;
    }
    #time, .colorText, #points {
        font-size: 30px; 
    }
    #color__board {
        width: 350px;
    }
    .colorText {
        padding: 11px 0;
    }
    #start, #stop, #restart {
        font-size: 20px;
    }
    #start {
        padding: 12px 25px;
    }
    #stop, #restart {
        padding: 0 13px;
    }
    .counted__score_type {
        padding: 20px 20px 20px 0;
    }
    .counted__score_block {
        width: 90%;
    }
}